nav
  dislay: block
  position: relative
  height: 6em
  width: 100vw

  &.hidden
    display: none

  svg
    position: relative
    top: 3em
    left: 3em
    transform: translate(-50%, -50%)
    height: 2em
    width: 2em

    &:hover
      cursor: pointer
