include ../node_modules/jumblr/lib/jumblr

+jumblrStrList({'IndexPage': 'grid', 'PermalinkPage': 'single-post'})
section(class="posts "+jumblrStrList)
  +jumblr('Posts')
    article(id="{PostID}" class="{PostType}")
      +jumblr('Photoset')
        +jumblr('Photos')
          .polaroid
            +jumblr('IndexPage')
              a(href="{Permalink}")
                img(src="{PhotoURL-500}" data-highres="{PhotoURL-HighRes}" alt="{PhotoAlt}")
            
            +jumblr('PermalinkPage')
              img(src="{PhotoURL-500}" data-highres="{PhotoURL-HighRes}" alt="{PhotoAlt}")
        
        +jumblr('Caption')
          .caption
            | {Caption}
